body{
    padding: 0;
    margin: 10px 50px;
    background-color: rgb(26,28, 25);
    color:black;
    font-family: 'Inter', sans-serif;
}

/*Styling of Nav Bar*/


nav{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(224,214,194);
    /* padding:2px; */
    border-radius:40px;

}
button{
    padding: 15px 40px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
    background-color:#1A1C19;
    color: rgb(224, 214, 194);
    margin: 3px;
    border:1px solid rgb(224, 214, 194);


}

.fbtn{
    width:20vw;
    border: none;
    background-color: rgb(52, 49, 36);    
}

.coll2:hover{
    color: black;
    background: rgb(224, 214, 194);
}

/* ends here */




/* main container */


.container{
    /* border: 2px solid red; */
    background-color: rgb(26,28, 25);
    padding: 5px;
    margin-top: 5px;
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(3, 5fr,1fr,1fr);
    gap: 15px;    
}

.container div{
    border-radius: 25px;
}

.grid-1{
    background-color: rgb(224, 214, 194);
    grid-row: 1/3;
    align-content: center;
}

.grid-1 .grid-1-p{
    margin: 20px 25px 0 25px;
    padding: 0 5px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.04em;
    display: inline-block;
    border: 1px solid rgba(50,48,37,1);
    border-radius: 20px;
}
.grid-1 .grid-1-h{
    margin: 25px;
    color: inherit;
    
    /* font-weight; */
}
hr {
    /* background-color: black; */
    border: none;
    border-top: 1px solid black;
}


.grid-1 img{
    width: 100%;
    height: 100%;
    transition: all 2s;
}


/* main container of cards */
.grid-2main{
    /* margin: 0 20px; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;    
}

.gr2-left .grid-2-p{
    margin: 20px 25px 0 25px;
    padding: 0 5px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.04em;
    display: inline-block;
    border: 1px solid rgba(50,48,37,1);
    border-radius: 20px;
}

.gr2-left .grid-2-h{
    margin: 25px;
    color: inherit;
}

.gr2-left .grid-2-p2{
    margin: 20px 25px 0 25px;
    width: 30vw;
    font-weight:600;
    padding-bottom: 10vh;
}

.grid-2{
    background-color: rgb(143, 136, 104);
    grid-column: 2/4;
}

.grid-2 img{
    width: 100%;
    height: 100%;
    transition: all 2s;
}

/* GRID__3 content */


.grid-3{
    background-color: #976C54;
}

.pot{
    margin-left: 20px;
    display: inline-block;
    border-bottom:5px solid rgb(26, 28, 25);
    transition: width 1s ease;
}

.grid-3main > p{
    padding: 0 15px 0 15px;
    font-weight: 600;
}


.grid-3 .grid-3main .image{
    padding: 15px 15px 0 45px  ;
    width: 100%;
    height: 100%;
}


/* GRID___4 Content */


.grid-4{
    display: flex;
    justify-content: space-between;
    padding: 20px 0 0 0 ;
    background-color: #B5A38D;

}
.grid-4sp{
    margin: 25px 25px 50px 5px;
    padding: 0 5px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.04em;
    display: inline-block;
    border: 1px solid rgba(50,48,37,1);
    border-radius: 20px;
}
.table{
    display: flex;
    list-style: none;
        /* flex: auto; */
}
.hr4{
    border-bottom: #1A1C19 2px solid;
}
/* it ends here */




/* only images style */




.grid-4 .image4{ 
    
  width: 30%;
    transition: all 2s;
    float: right;

}

/* image styling ends */



/*  only get and arrow  */
.get{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.get span{
    padding: 10px;
    display: flex;
    align-items: center;
    
}


/* ends heer */







.grod-3main{
    padding: 10px;
}

.grid-4main{
    padding: 10px;
}



.container .grid-1:hover img{
    transform: scale(1.1);
    overflow: hidden;
}
.container .grid-2:hover img{
    transform: scale(1.1);
    overflow: hidden;
}
.container .grid-3:hover .image{
    transform: scale(1.1);
    overflow: hidden;
}
.container .grid-4:hover img{
    transform: scale(1.1);
    overflow: hidden;
}





/* responsive */


@media (max-width: 1125px){
 
    nav .coll2{
       display: none;
    }
  
}
@media (max-width: 950px){
    .coll2{
        display: none;
    }
}

@media (max-width: 800px){
    .right{
        display: none;
    }
}


@media (max-width: 500px){
    .fbtn{
        height: auto;
        width: auto;
        
    }
}
@media (max-width:600px){
    .fbtn{
        height: auto;
        width: auto;
        
    }
}



@media(max-width:710px){
    
    .container{
        display: flex;
        flex-direction: column;
    }

}
